<section class="flex flex-col md:flex-row min-h-[calc(100vh-100px)]">

    <!-- Left Section -->
    <div class="w-full md:w-[65%] bg-gray-100">
        <h4 class="text-2xl font-bold text-center mt-10">
            Welcome Back!
        </h4>
    </div>

    <!-- Right Section -->
    <div class="w-full md:w-[40%] pt-20  px-8 bg-white flex justify-center items-start md:pt-25">
        <div class="w-full max-w-lg space-y-5">

            <div class="text-center mb-8">
                <h2 class="text-3xl md:text-4xl font-bold text-green-600 mb-3 tracking-tight">
                    ELITE<span class="text-secondary">STORE</span>
                </h2>
                <h3 class="text-xl font-bold text-slate-800">WELCOME BACK!</h3>
                <p class="text-sm text-gray-500 mt-1">Sign in to continue your fresh shopping experience</p>
            </div>


            <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="space-y-5">
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700 mb-1.5 ">Email Address</label>
                    <div>
                        <div class="relative">
                            <i
                                class="fa-regular fa-envelope text-gray-400 absolute left-4 top-1/2 -translate-y-1/2"></i>
                            <input formControlName="email" id="email" type="email" autocomplete="email"
                                placeholder="Enter your email"
                                class="w-full pl-11 pr-4 py-4 rounded-lg border border-gray-200 outline-none focus:ring-2 focus:ring-green-600 focus:border-green-600 text-sm text-gray-800 placeholder:text-gray-400 transition" />
                        </div>

                        @let emailControl = loginForm.get('email');
                        @if (emailControl?.invalid && emailControl?.touched) {

                        <div class="mt-4 p-4 text-sm text-red-700 rounded-lg bg-red-50 border border-red-200"
                            role="alert">
                            <span class="sr-only">Danger</span>
                            <div>
                                <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                                    @if (emailControl?.hasError('required')) {<li>Email is required.</li>}
                                    @if (emailControl?.hasError('email')) {<li>Please enter a valid email address. </li>
                                    }

                                </ul>
                            </div>
                        </div>
                        }
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between mb-1.5">
                        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                        <a routerLink="/forgot" class="text-sm text-green-600 hover:underline font-medium">Forgot
                            Password?</a>
                    </div>
                    <div>
                        <div class="relative">
                            <i class="fa-solid fa-lock text-gray-400 absolute left-4 top-1/2 -translate-y-1/2"></i>
                            <input formControlName="password" id="password" type="password"
                                autocomplete="current-password" placeholder="Enter your password"
                                class="w-full pl-11 pr-11 py-2.5 rounded-lg border border-gray-200 outline-none focus:ring-2 focus:ring-green-600 focus:border-green-600 text-sm text-gray-800 placeholder:text-gray-400 transition" />
                            @let passwordControl = loginForm.get('password');
                        </div>
                        @if (passwordControl?.invalid && passwordControl?.touched) {
                        <div class="mt-4 p-4 text-sm text-red-700 rounded-lg bg-red-50 border border-red-200"
                            role="alert">
                            <span class="sr-only">Danger</span>
                            <div>
                                <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
                                    @if (passwordControl?.hasError('required')) {<li>Password is required.</li>}
                                    @if (passwordControl?.hasError('pattern')) {<li>Must contain at least 8 chars, 1
                                        uppercase, 1 lowercase, 1 number, and 1 special </li>}

                                </ul>
                            </div>
                        </div>
                        }
                    </div>
                </div>

                <div class="pt-2">
                    <button type="submit"
                        class="w-full cursor-pointer bg-green-600 hover:bg-green-700 text-white font-medium py-3 rounded-lg transition duration-200">
                        Sign In
                    </button>
                </div>
            </form>

        </div>
    </div>

</section>