<section class="py-10">
    <div class="container mx-auto">
         <h2 class="text-3xl font-semibold">Shop By <span class="text-primary">Category</span></h2>
         <div class="mt-6 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
            @for (category of categoriesList(); track category.id) {
                <div class="shadow  p-5 flex text-center flex-col items-center hover:shadow-md transition-shadow">
                <img [src]="baseUrl  + category.imageUrl" class="size-28 rounded-full object-cover" [alt]="category.name">
                <h3 class="font-medium mt-3">{{category.name}}</h3>
            </div>
            }
            
         </div>
         <app-two-static/>
    </div>
</section>